<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webproyect</title>
    <link rel="stylesheet" type="text/css" href="/static/Especialidades.css">
    <title>Especialidades</title>
</head>
<body>
    
    <header>Especialidades</header>

    <p>:
        Antimicóticos. Aerosoles Cremas antimicóticas Geles Polvos y talcos Pomadas Soluciones Ungüentos.
        Capilares Cicatrizantes Dermatitis Gel dermatológico Jabones Tratamientos antiacné Tratamientos dermatológicos.
        Dolor. ...
        Especialidades médicas. ...
        Estomacal. ...
        Genéricos. ...
        Gripe y tos. ..
        Oftálmicos.
        Tambien contamos con consultas medicas.

    </p>
    <p>Tenemos diferentes areas de conuslta con diferentes Especialidades al mejor precio.
        ya que nosotrtos damos los mejores precios pensando en ustedes</p>
</body>
</html>