<!DOCTYPE html>
<html>
<head>
	<title>Lista de citas</title>
	<link rel="stylesheet" type="text/css" href="/static/lista_citas.css">
</head>
<body>
	<h1>Lista de citas</h1>
	<table>
		<thead>
			<tr>
				<th>Nombre del paciente</th>
				<th>Teléfono</th>
				<th>Correo electrónico</th>
				<th>Síntomas</th>
				<th>Fecha de la cita</th>
				<th>Hora de la cita</th>
				<th>Médico</th>
				<th>Acciones</th>
				<th>Generar PDF</th>
			</tr>
		</thead>
		<tbody>
			{% for cita in citas %}
			<tr>
				<td>{{ cita[1] }}</td>
				<td>{{ cita[2] }}</td>
				<td>{{ cita[3] }}</td>
				<td>{{ cita[4] }}</td>
				<td>{{ cita[5] }}</td>
				<td>{{ cita[6] }}</td>
				<td>{{ cita[7] }}</td>
				<td>
					<form action="{{ url_for('delete_cita', id=cita[0]) }}" method="post">
						<input type="hidden" name="cita_id" value="{{ cita[0] }}">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit">Eliminar</button>
					</form>
					</td>
					
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ url_for('sacar_citas') }}">Agregar Cita</a>
</body>
</html>
