<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contactacto</title>
  <link rel="stylesheet" type="text/css" href="/static/contactanos.css">
</head>
<body>
  <header>
    <h1>Servicios</h1>
  </header>

  <main>
    <p>Ofrecemos los servicios de:
        Consultas con los mejores medicos asi como tambien descuentos los dias martes y productos genericos.
         :</p>
    
    <button>

    </button>
    
    <br> <br> <br>

    <div class="box"></div>
  </main>

  <footer>
    <p></p>
  </footer>
</body>
</html>